{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="{% static 'src/styles.css' %}">
	</head>

	<body>
		<section class="bg-white dark:bg-gray-900">
			<div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
				<div class="mr-auto place-self-center lg:col-span-7">
					<h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Hello Santeri, this is your Tailwind CSS</h1>
					<p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Welcome to your future RO-calculator!</p>
				</div>
				<form method="post">
					{% csrf_token %}
					{% for field in form %}
						<div class="your-class-for-div">
							<label for="{{ field.id_for_label }}" class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">{{ field.label }}</label>
							{{ field }}
						</div>
					{% endfor %}
					<button class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white"" type="submit">Predict</button>
				</form>
				
				{% if prediction %}
					<p>Prediction: {{ prediction }}</p>
				{% endif %}

			</div>
		</section>
	</body>
</html>
